TOKEN=
GATEWAY_URL=wss://gateway.discord.gg/?v=10&encoding=json
SPOTIFY_CDN=https://i.scdn.co/image
DISCORD_CDN=https://cdn.discordapp.com/app-assets
DISCORD_MEDIA=https://media.discordapp.net
GUILD_ID=
USER_ID=
PORT=3000
STATE='production'