<svg xmlns="http://www.w3.org/2000/svg" xmlns:xhtml="http://www.w3.org/1999/xhtml" width="410px" height="210px">
    <foreignObject x="0" y="0" width="410" height="210">
        <link href="style.css" rel="stylesheet" type="text/css"/>
        <div xmlns="http://www.w3.org/1999/xhtml" style="position: absolute; width: 400px; height: 200px; inset: 0; background-color: #<%= backgroundColor %>; color: #fff; font-family: 'Century Gothic', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; font-size: 16px; display: flex; flex-direction: column; padding: 5px; border-radius: <%= borderRadius %>;">
            <div
                style=" width: 400px; height: 100px; inset: 0; display: flex; flex-direction: row; padding-bottom: 5px; border-bottom: solid 0.5px hsl(0, 0%, 100%, 10%); ">
                <div style="display: flex; flex-direction: row; height: 80px; width: 80px; ">
                    <img src="<%= profileImageUrl %>"
                        style="border: solid 3px #747F8D; border-radius: 50%; width: 50px;  height: 50px; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
                </div>
                <div style="height: 80px; width: 260px;">
                    <div
                        style="display: flex; flex-direction: row; position: relative; top: 50%; transform: translate(0, -50%); height: 25px; ">
                        <h1 style="font-size: 1.15rem; margin: 0 12px 0 0; white-space: nowrap; ">
                            <%= userNickname %>
                        </h1>

                        <img src=""
                            style="width: auto; height: 20px;  position: relative; top: 50%; transform: translate(0%, -50%); margin-right: 7px;" />
                        <img src=""
                            style="width: auto; height: 20px;  position: relative; top: 50%; transform: translate(0%, -50%); margin-right: 7px;" />
                        <img src=""
                            style="width: auto; height: 20px;  position: relative; top: 50%; transform: translate(0%, -50%); margin-right: 7px;" />
                    </div>

                </div>
            </div>
            <div
                style="display: flex; flex-direction: row; height: 150px; justify-content: center; align-items: center; ">
                <p style="font-style: italic; font-size: 0.8rem; color: #aaa; height: auto; text-align: center; ">
                    Não estou fazendo nada atualmente.
                </p>
            </div>
        </div>
    </foreignObject>
    <script xmlns="/public/js" />
</svg>>